# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
*.log
Thumbs.db

# macOS
.DS_Store

# VS Code
.vscode/
.idea/

# Environment variables
.env

# Database
*.db

# Uploads
uploads/